# Include the fcgi settings and php-fpm upstream

include       /etc/nginx/conf.d/fcgi.conf;

upstream      phpfpm_backend
{
    #server     unix:/run/php/php-fpm7.sock;
    #server     127.0.0.1:9000 max_fails=3 fail_timeout=3s;
    server      _LISTEN_TO_;
    keepalive  16;
}


server {
  # listen [::]:443 ssl http2 deferred;  # for Linux
  # listen 443 ssl http2 deferred;  # for Linux
  listen [::]:443 ssl http2;
  listen 443 ssl http2;

  # The host name to respond to
  server_name _SERVER_NAME_;

# Include the ssl cert settings
  include /etc/nginx/conf.d/ssl.conf;

# Config for serving static files
  include       /etc/nginx/conf.d/static.conf;

# Specify the document root
  root          /var/www/_SERVER_NAME_/_DOC_RPATH_;
  index         index.html;

 # # Custom Loggings
  access_log    /var/log/nginx/_SERVER_NAME_.ssl.accesslog main;
  access_log    /var/log/nginx/_SERVER_NAME_.sslrobots.accesslog main if=$is_bot;
  error_log     /var/log/nginx/_SERVER_NAME_.ssl.errorlog notice;

# Include the default location settings (before the main locations)
  include       /etc/nginx/conf.d/default.conf;

  limit_req               zone=ReqPerSec10 burst=50 nodelay;
  limit_conn              ConPerIP 10;

# Serve non-php files directly with the fallback of index.php:
    location / {
        try_files $uri $uri/ /index.php;
    }

# Process php requests and return 404 if the php file does not exist:
    location ~ [^/]\.php(/|$) {
        #fastcgi_split_path_info ^(.+?\.php)(/.*)$;
        #if (!-f $document_root$fastcgi_script_name) {
        #    return 404;
        #}
        # Avoid if which is slow, use nested location instead:
        location ~ \..*/.*\.php$ {return 404;}
        proxy_set_header        Host $host;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Proto $scheme;

        fastcgi_index index.php;
        fastcgi_keep_conn on;
        include fastcgi_params;
        ## Mitigate https://httpoxy.org/ vulnerabilities
        fastcgi_param HTTP_PROXY "";
        proxy_http_version 1.1;
        proxy_pass http://phpfpm_backend;
        proxy_read_timeout  30;
        health_check;
    }
}
